@charset "utf-8";
/* CSS Document */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.QT{
	display: inline-flex;
    justify-content: flex-start;
    flex-direction: row;
}

.QT{
	width: 100%;
}
.QT_Box_1{
	width: 20%;
	min-height: 100vh;
	background-color: #B4AA69;
	margin-top: -8px;
	margin-left: -8px;
	padding-top: 5px;
}



.QT_DienTT{
	margin-left: 20px;
	width: 75%;
}

.QT_body{
	font-size: 20px;
	margin-top: 100px;
}
.QT_Box_1 .DX a{
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
}

.QuanLi_SP , .QuanLi_TinTuc , .QuanLi_taikhoan, .QuanLi_donhang , .ThongTin_Kh{
	text-align: center;
	padding: 20px;
	border: 1px solid;
	border-color: #000000;
}
.QuanLi_Loai_Sp{
	text-align: center;
	padding: 20px;
	border: 1px solid;
	border-color: #000000;
	font-size: 20px;
	border-top: 2px solid;
}

a{
	text-decoration: none;
	color: #000000;
}
.QT_Box_1 h1{
	margin: 0;
	margin-top: 20px;
	
}

th{
	text-align: center;
}
